/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 .main-container {
  max-width: 800px;
  margin: auto
 }

 .pic1 {
  width: 95%;
  text-align: center;
  border-radius: 85%;
 }

 .picture2 {
  text-align: center;
 }

 .picture3 {
  width: 50%;
  text-align: right;
 }

 .picture4 {
  width: 80%;
  text-align: center;
 }

body {
  background-color: rgb(255, 199, 179);
}

.title {
  text-align: center;
 }

 .sign_in_section {
  text-align: center;
 }

 .option_sections {
  text-align: center;
 }

 .sign_up {
  text-align: center;
 }

 ul.a {
  list-style-type: square;
 }

 .sign_out {
  text-align: right;
 }
