<html>
<head>
<style>
 body {
  background-color: coral;
 }

 .title {
  text-align: center;
 }

 .option_sections {
  text-align: center;
 }
 </style>
 </head>

 <body>
<div class="title">
  <h1>Welcome to Food Paradise!</h1>
</div>

<div class="option_sections">
  <p>
    <a href="/user_sign_in">Sign in</a>
  </p>
</div>

<div class="option_sections">
<p>
  <a href="/user_sign_up">Sign up</a>
</p>
</div>

<%# food-paradise-1.jpg %> <%# fix this %>

</body>
</html>
